html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

main, p{
    padding: 2rem;
    margin: auto;
    text-align: center;
    & img, p{
      width: 40em;
    }
}

h1, h2, h3, p {
    color: $fontgray;
}
