// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

// header
header {
  background-image: url("../img/el-salvador-playa-02.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  box-sizing: border-box;
  padding-left: 5em;
  padding-top: 5rem;
  padding-bottom: 8rem;
  padding-right: 5rem;
  & img {
    width: 20em;
  }
  & h2{
    color: #083d5d;
  }
}
// logo
.logo{
  width: 24rem;
}


footer {
  background: #083d5d;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  padding-left: 3em;
  padding-top: 3rem;
  padding-bottom: 3rem;
  & a {
    color: white;
  }
}

// navigation bar
nav {
  display: flex;
  justify-content: center;
  &.head{
    background-color: #D3D3D3; /* dark gray */
    box-sizing: border-box;
    padding-left: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  & li {
    display: inline;
  }
  & ul {
    padding-left: 0px;
  }
}
// main card declared
// .card {
//   display: flex;
//   border: 2rem solid $darkgray;
//   padding: 1rem;
//   width: 50%;
//   margin: 2em;
//   // flows card down for mobile
//   @media screen and (max-width: 768px) {
//     border-width: 1rem;
//     flex-direction: column;
//     width: 100%;
//     margin-left: 0em;
//     align-items: center;
//   }
//   // croppes profile picture to circle
//   &__img {
//     -webkit-border-radius: 50%;
//     -moz-border-radius: 50%;
//     -ms-border-radius: 50%;
//     -o-border-radius: 50%;
//     object-fit:cover;
//     width: 12em;
//     border-radius: 50%;
//   }
//   // centers text profile picture
//   &__center {
//     margin: auto;
//     text-align: center;
//     padding-right: 2em;
//   }
//     // centers text with logo
//   &__description {
//     background-color: $gray;
//     width: 50rem;
//     padding-left: 2em;
//     & P:last-child {
//       display: flex;
//       align-items:center;
//     }
//     & img {
//       padding: 1em 1em 1em 0em;
//     }
//     // flows card down for mobile
//     @media screen and (max-width: 768px) {
//       width: 90%;
//       padding-left: 1em;
//     }
//   }
// }
